/* BASE FORMATING */
* {
        box-sizing: border-box;
        /* +PADDING +BORDER -MARGIN */
}

html, body {
    margin: 0;
    padding: 0;
    /* RESET DE ESPAÇAMENTO */
    background-image: url(img/ADJBG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}


#landingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    margin: auto;
    /* border: #bca643 1px solid; */
}

.listContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin: auto;
    /* border: red 1px solid; */
}

.itemListContainer {
    margin: auto;
    width: 100%;
    height: auto;
    /* border: orange 1px solid; */
}

.atuationListContainer{
    width: 100%;
    /* border: white 1px solid; */
}


.listBottonMargin{
    margin-bottom: 15px;
}

.redBorder {
    border: red 1px solid;
}

#fullLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary{ 
    background-color: #006436;
    border: #998736 1px solid;
}

.phoneZapMail a {
    color: #bca643;
}


/* MAIN CONTENT FORMATING */
#banner {
    margin-top: 30px;
    margin-bottom: 30px;
}

.whiteSection {
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
}

.greenSection {
    background-color: #006436;
    padding-top: 30px;
    padding-bottom: 30px;
}

.goldenSection {
    background-color: #bca643;
    padding-top: 30px;
    padding-bottom: 30px;
}

.greenListBg {
    background-color: #006436;
    color: whitesmoke;
    /* border-bottom: #bca643 1px solid; */
}

.whiteListBg {
    background-color: whitesmoke;
    color:#006436;
    /* border-bottom: #bca643 1px solid; */
}

/* .listStyle {
    width: 300px;
    margin: auto;
}

.itemStyle {
    width: 280px;
    margin: auto;
} */

.phoneZapMail {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phoneZap {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.mail {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

iframe {
    margin: auto;
}

/* NAVBAR */
.logoSmall{
    max-width: 25px;
    height: auto;
}


/* CLASSES DE FORMATAÇÃO */
.greenText {
    color: #006436;
}

.goldenText {
    color: #998736;
}

.trueGoldenText {
    color: #bca643;
}

.whiteText {
    color: whitesmoke;
}

.brownText {
    color: #4a2700;
}

.textShadow {
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.officePicStyle {
    max-width: 100%;
    margin: auto;
    height: auto;
}

.attorneyPicStyle {
    margin: auto;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.mediaQueryContainer{
    width: 100%;
    background-color: whitesmoke;
}


/* CLASSES DE ANIMAÇÃO */
.swing-in-top-fwd {
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-in-bottom-fwd {
    animation: swing-in-bottom-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* KEYFRAMES ANIMATIONS */

@keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
}

@keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}


/* MEDIA QUERYS */
@media screen and (min-width: 650px){

    #banner {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .container{
        width: 700px;
    }

    .listContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .itemListContainer{
        margin: 0px;
        width: 200px;
    }

    .atuationListContainer{
        width: 200px;
    }

    .attorneyPicStyle{
        max-width: 400px;
    }

    .phoneZapMail{
        flex-direction: row;
        justify-content: space-around;
    }

    .phoneZap{
        flex-direction: column;
    }

    .mail{
        flex-direction: column;
    }
}

@media screen and (min-width: 999px){
    .container{
        width: 900px;
    }

    .mediaQueryContainer{
        display: flex;
        width: 100%;
    }

    .officePicStyle {
        max-width: 900px;
    }

    .mediaQueryContainer img{
        margin: auto;
    }

    .mediaQueryAttorneys{
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .mediaQueryAttorneys section{
        height: auto;
    }

    .mediaQueryAttorneys div{
        width: 90%;
    }

    .attorneyPicStyle{
        max-width: 250px;
    }
}